h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid__item, .grid, .aside, .main__info, .nav__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 48px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(168, 51, 51);
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__text {
  background-color: rgb(168, 51, 51);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 175px;
  padding-right: 175px;
}

@media (max-width: 834px) {
  .nav__text {
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.main__info {
  background-color: rgb(168, 51, 51);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  color: white;
  padding-left: 145px;
  padding-right: 145px;
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 200px;
  position: absolute;
  left: 465px;
}

@media (max-width: 834px) {
  .main__info {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.aside {
  background-color: rgb(168, 51, 51);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  color: white;
  padding-left: 45px;
  padding-right: 40px;
  padding-top: 120px;
  padding-bottom: 120px;
  max-height: 200px;
  position: absolute;
  left: 845px;
}

@media (max-width: 834px) {
  .aside {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 260px;
    left: 465px;
  }
}
.grid {
  gap: 20px;
  flex-wrap: wrap;
  max-width: 575px;
}

.grid__item {
  background-color: rgb(168, 51, 51);
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 166px;
  position: relative;
  top: 300px;
  left: 440px;
}

@media (max-width: 834px) {
  .grid__item {
    max-width: 500px;
  }
}